@media (min-width: 430px) {
    .divplat:hover .desc {
        width: 296px!important;
        transition: all 0.5s ease;
    }
}
@media (min-width: 1024px) {
    .filtres {
        display: flex;
        flex-direction: row!important;
        gap: 36px;
    }
    .fonctionnement h2 {
        padding: 0px 0px 26px 0px;
        color: #000;
    }
    .restaurants_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        flex-wrap: wrap;
        width: 100%;
    }
    .restaurants_cards .card {
        width: 100%!important;
        flex-shrink: 0;
    }
    .titre , .paragraphe {
        width: 100%!important;
    }
    .restaurants , .fonctionnement {

        align-items: flex-start!important;

    }
    .nouveau {
        left: 26.519vw!important;
        width: unset!important;
        bottom: unset!important;
  
 
    }
    .sectionrestaurant{
        width: 1040px!important;
    }
    .sectionrestaurant{
        width: 1040px!important;

    }
    .divplat {

        width: 634px!important;  
    
    }
    .divplat:hover .desc{
        width: 100%!important;
        transition: all 0.5s ease; 
    }
    .footerdiv{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        padding-top: 29px;    }
    .bloc1 , .bloc2{
        display: flex;
    margin-right: 30px;
    }
    .bloc1 li , .bloc2 li{
        margin-right: 30px;
        
    }
    .bloc1 li img , .bloc2 li img{
        margin-right: 5px;
        
    }
    .icone {
            width: 23vw!important;
    }
    /* .sousicone{
        gap: 8px!important;
    } */

}
@media (min-width: 1439px) {
  .icone{
    width: 331.2px!important;
  }
}