.buttonretour a {
    border: none;
    background-color: white;
    cursor: pointer;
    
}
.svgcoeur {
    cursor: pointer;
}

.buttoncaché {
    display: none;
}

.buttoncaché:checked + .svgcoeur svg path {
    fill: white; 
    stroke: black; 
    stroke-width: 0.5; 
  }

.buttonretour{
    margin-bottom: -35px;
    margin-left: 20px;
}
.imagerestaurant img {
    height: 110%;
    width: 100%;
    object-fit: cover;
}

.imagerestaurant {
    height: 383px;
    width: 100%;
}

.sectionrestaurant {
    position: relative;
    background-color: var(--Background);
    border-radius: 20px 20px 0px 0px;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.headerrestaurant{
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
    align-items: center;
}

.sectionrestaurant h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.titrerestaurant h2 {
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sectionrestaurant p {
    font-size: 15.043px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    text-overflow: ellipsis;
}
.plat h4{
    overflow: hidden;
}
.divrestaurant {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titreplat {
    padding-bottom: 5px;
}
.descplat , .titreplat {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: max-width 0.5s ease; 
    
}
.divplat {
    border-radius: 15.043px;
    background: var(--White, #FFF);
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 12px;
    /* max-width: 275px; */
    width: 315px; 
    transition: background-color 0.3s ;
    position: relative;

}

 .check{
    right: -59px;

      position: absolute;
    bottom: -6px;
    display: none;

}
.desc {
    text-overflow: ellipsis;
    /* width: 280px; */
}
.titreplat h4 {
    text-overflow: ellipsis;
    max-width: 100% ;
}
.prixplat:hover .check{
    margin-right: 50px;
    transition: all 0.5s ease;
    display: block;
}
.prixplat:hover .prix{
    margin-right: 50px;
    transition: all 0.5s ease;
}
.prixplat:hover .plat {
    max-width: 80%;
}
.prixplat:hover .desc {
    width: 234px!important;
}
.prixplat .prix{
    transition: all 0.5s ease; 
}
.plat p {
    overflow: hidden;
}


.plat{
    
    max-width: 100%;    
}


.contenuerestaurant h3 {
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 3px #99E2D0 solid;
    width: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}
.entrerestaurant , .platrestaurant{
    margin-bottom: 40px;
}
.entrerestaurant{
    animation-name: animationdepartverslehaut, fadeInOpacity;
    animation-duration: 1s;
}
.platrestaurant{
    animation-name: animationdepartverslehaut, fadeInOpacity;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
.dessertrestaurant{
    animation-name: animationdepartverslehaut, fadeInOpacity;
    animation-duration: 1s;
    animation-delay: 1s;
}
.divrestaurant{
    padding: 32px 0px 32px 0px;
}
/* .sectionrestaurant button {
    margin-bottom: 40px;
} */

.contenuerestaurant button {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15.043px;
}
.explorerbutton {
    margin-bottom: 40px;
}
.restaurantsbutton{
    cursor: pointer;
}
.divplat:focus {
    background-color: #2980b9;
}
